
@{
    ViewBag.Title = "Index";
}

<p id="IdLoading"></p>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Monitor Gerencial Copper
                <div class="panel-controls">
                    <a href="javascript:void(0);" data-panel-loading="true" data-loading-effect="timer" data-toggle="tooltip" data-title="Refresh" data-placement="bottom" data-original-title="" title=""><i class="fa fa-refresh"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-6">
                    <label>Compania</label>

                    <input type="text" id="txtCompania" class="form-control" placeholder="" value="2" disabled />
                    @*<select name="select" id="cboCompania">
                            <option value="0" >Seleccione...</option>
                            <option value="1" selected>Minera Copper</option>
                            <option value="2">Corporacion Copper</option>
                        </select>*@
                    <label>Fecha:</label>
                    <input type="date" id="txtFechaConsulta" class="form-control" placeholder="" />
                </div>
                <div class="form-group col-sm-6 col-xs-12 text-center">
                    <br />
                    <a id="btnCapturar" class="m-w-150 btn btn-rounded btn-primary" data-panel-loading="false" data-loading-effect="timer" data-loading-color="#16a085" data-toggle="tooltip" data-placement="bottom">Captura</a>
                    <a id="btnEnviarCorreo" class="m-w-150 btn btn-rounded btn-primary">Enviar</a>
                    <a id="btnConsultaHoy" class="m-w-150 btn btn-rounded btn-default">Consultar</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row" id="panelResultado">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                Graficos - Corporacion Copper
                @*<div class="panel-controls">
                        <a href="javascript:void(0);" data-panel-loading="true" data-loading-effect="rotateplane" data-loading-color="#16a085" data-toggle="tooltip" data-title="Refresh" data-placement="bottom"><i class="fa fa-refresh"></i></a>
                    </div>*@
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="IdYearToDate" style="width: 100%; height: 500px;"></div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="IdMothToDate" style="width: 100%; height: 500px;"></div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div id="IdTotalGastos" style="width: 100%; height: 500px;"></div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="IdBancos" @*style="width: 100%; height: 600px;" PARA COLUMN*@></div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="row" style="display:none">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-success">
            <div class="panel-body">
                <textarea id="IdGraficoYearToDate" class="form-control"></textarea>
                <textarea id="IdGraficoMothToDate" class="form-control"></textarea>
                <textarea id="IdGraficoTotalGastos" class="form-control"></textarea>
                <textarea id="IdGraficoBanco" class="form-control"></textarea>
            </div>

        </div>
    </div>
</div>

@section scripts{

    <script>
        $(document).ready(function () {
            $("#panelResultado").hide();

        });
        window.onload = function () {

            document.getElementById('txtFechaConsulta').value = getDateSystem();
        }
        function getDateSystem() {
            var fecha = new Date(); //Fecha actual
            var mes = fecha.getMonth() + 1; //obteniendo mes
            var dia = fecha.getDate(); //obteniendo dia
            var ano = fecha.getFullYear(); //obteniendo año
            if (dia < 10)
                dia = '0' + dia; //agrega cero si el menor de 10
            if (mes < 10)
                mes = '0' + mes //agrega cero si el menor de 10
            var returnDate = ano + "-" + mes + "-" + dia;
            return returnDate;
        }

    </script>
    <script>
        var i = 0;
        $("#btnCapturar").click(function () {

            var IdGraficoYearToDate = $("#IdGraficoYearToDate").val();
            IdGraficoYearToDate = IdGraficoYearToDate.replace(/^data:image\/(png|jpg);base64,/, "");
            var IdGraficoMothToDate = $("#IdGraficoMothToDate").val();
            IdGraficoMothToDate = IdGraficoMothToDate.replace(/^data:image\/(png|jpg);base64,/, "");
            var IdGraficoTotalGastos = $("#IdGraficoTotalGastos").val();
            IdGraficoTotalGastos = IdGraficoTotalGastos.replace(/^data:image\/(png|jpg);base64,/, "");
            var IdGraficoBanco = $("#IdGraficoBanco").val();
            IdGraficoBanco = IdGraficoBanco.replace(/^data:image\/(png|jpg);base64,/, "");

            if (IdGraficoYearToDate == "") {
                MensajeConfirmacion("Error", "Primero debe realizar la consulta.", "error");
                return false;
            }

            if (IdGraficoMothToDate == "") {
                MensajeConfirmacion("Error", "Primero debe realizar la consulta.", "error");
                return false;
            }
            if (IdGraficoTotalGastos == "") {
                MensajeConfirmacion("Error", "Primero debe realizar la consulta.", "error");
                return false;
            }
            if (IdGraficoBanco == "") {
                MensajeConfirmacion("Error", "Primero debe realizar la consulta.", "error");
                return false;
            }
            var grafico = {};
            grafico.GraficoYearToDate = IdGraficoYearToDate;
            grafico.GraficoMonthToDate = IdGraficoMothToDate;
            grafico.GraficoGastos = IdGraficoTotalGastos;
            grafico.GraficoBancos = IdGraficoBanco;


            $.ajax({
                type: "POST",
                url: "/CorpCopper/GuardarImagen",
                data: '{objGrafico: ' + JSON.stringify(grafico) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#IdLoading').html("Cargando...");
                    //$('#btnRefrescar').click();
                    //$("#loader").show();
                },
                success: function (r) {
                    alert(r);
                },
                error: function (r) {
                    alert(r.message);
                },
                complete: function () {
                    i--;
                    if (i <= 0) {
                        $('#IdLoading').html("Carga completo...");
                        $('#IdLoading').hide("slow");
                        //$("#loader").hide();
                    }
                },
            });
            return false;
        });
        $('#btnEnviarCorreo').click(function () {

            $.ajax({
                type: "POST",
                url: "/CorpCopper/EnviarCorreo",
                data: '{objCorreo: "hola"}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    MensajeConfirmacion("Exito!", response, "success");

                },
                error: function (error) {

                    //console.log(error.responseText)
                    MensajeConfirmacion("Error!", error.responseText, "error");
                }
            });
            return false;
        });
    </script>
    <script>
        $("#btnConsultaHoy").click(function () {
            $("#panelResultado").hide();
            $("#IdYearToDate").html("Cargando...");
            $("#IdMothToDate").html("Cargando...");
            $("#IdTotalGastos").html("Cargando...");
            $("#IdBanco").html("Cargando...");
            //=========================================
            $("#IdGraficoYearToDate").val("");
            $("#IdGraficoMothToDate").val("");
            $("#IdGraficoTotalGastos").val("");
            $("#IdGraficoBanco").val("");

            //=========================================
            var txtCompania = $("#txtCompania").val();
           // alert(txtCompania);
            if (txtCompania == "") {
                MensajeConfirmacion("Error!", "Debe ingresar el Codigo Compania.", "error");
                $("#txtCompania").focus();
                return false;
            }
            var txtFechaConsulta = $("#txtFechaConsulta").val();
            if (txtFechaConsulta > getDateSystem()) {
                MensajeConfirmacion("Error!", "No puede realizar consulta mayor a la Fecha Actual.", "error");
                $("#txtFechaConsulta").focus();
                return false;
            }
            if (txtFechaConsulta == "") {
                MensajeConfirmacion("Error!", "Debe ingresar la Fecha a consultar.", "error");
                $("#txtFechaConsulta").focus();
                return false;
            }
            if (txtFechaConsulta.length > 10) {
                MensajeConfirmacion("Error!", "Debe ingresar una Fecha Valida.", "error");
                $("#txtFechaConsulta").focus();
                return false;
            }
            drawChart(txtFechaConsulta, txtCompania);
            //$("#panelResultado").show("slow");
            $("#panelResultado").show();
            return false;
        });
    </script>
    <script>
        google.load("visualization", "1", { packages: ["corechart"] });
        //google.setOnLoadCallback(drawChart);
        //google.charts.load('current', { 'packages': ['corechart'] });

        function drawChart(fechaConsulta, compania) {
            /*=============== YEAR TO DAY =====================*/
            $.ajax({
                type: "POST",
                url: "/CorpCopper/GraficoYearToDate",
                //data: '{}',
                data: JSON.stringify({ fecha: fechaConsulta }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    //debugger;
                    //console.log(r);
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Date');
                    data.addColumn('number', 'Ingreso');
                    data.addColumn('number', 'Egreso');
                    data.addColumn('number', 'Margen');
                    // data.addColumn({ type: 'string', role: 'annotation' }); // annotation role col.
                    data.addRows(r);
                    var options = {
                        title: "[YEAR TO DATE - Corp. Copper - " + fechaConsulta + "]",
                        //width: 600,
                        //height: 400,
                        bar: { groupWidth: "100%" },
                        //legend: { position: "none" },
                        //chartArea: { width: '100%' },
                        legend: { position: 'bottom' },
                        hAxis: {
                            maxTextLines: 10,
                            textStyle: {
                                fontSize: 14,
                            }
                        },
                        colors: ['#3366CC', '#e20909', '#07af52'],
                        //chartArea: { "backgroundColor": "#F4F9F9" }
                        pointSize: 7,
                    };
                    //var options = {
                    //    //height: 600,
                    //    //chartArea: { width: '100%', height: '100%' },
                    //    //hAxis: { showTextEvery: 7, textStyle: { fontSize: '10' } },
                    //    //legend: { position: 'top', textStyle: { color: 'blue', fontSize: 12 } },
                    //    lineWidth: 4,
                    //    //pointShape: 'circle',
                    //    //pointSize: 6,
                    //    //vAxis: { textPosition: 'in', gridlines: { count: 3 }, minorGridlines: { count: 2 }, textStyle: { fontSize: 12 } },
                    //};
                    var ColumnChart_div = document.getElementById('IdYearToDate');
                    var ColumnChartchart = new google.visualization.LineChart(ColumnChart_div);
                    google.visualization.events.addListener(ColumnChartchart, 'ready', function () {
                        $("#IdGraficoYearToDate").val(ColumnChartchart.getImageURI());
                    });
                    ColumnChartchart.draw(data, options);
                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });
            /*=============== MONTH TO DAY =====================*/
            $.ajax({
                type: "POST",
                url: "/CorpCopper/GraficoMothToDate",
                //data: '{}',
                data: JSON.stringify({ fecha: fechaConsulta }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    //debugger;
                    //console.log(r);
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Date');
                    data.addColumn('number', 'Ingreso');
                    data.addColumn('number', 'Egreso');
                    data.addColumn('number', 'Margen');
                    // data.addColumn({ type: 'string', role: 'annotation' }); // annotation role col.
                    data.addRows(r);
                    var options = {
                        title: "[MONTH TO DATE - Corp. Copper - " + fechaConsulta + "]",
                        //width: 600,
                        //height: 400,
                        bar: { groupWidth: "100%" },
                        //legend: { position: "none" },
                        legend: { position: 'bottom' },
                        hAxis: {
                            maxTextLines: 10,
                            textStyle: {
                                fontSize: 14,
                            }
                        },
                        colors: ['#3366CC', '#e20909', '#07af52'],
                        //chartArea: { "backgroundColor": "#F4F9F9" }
                        pointSize: 7,
                    };
                    var ColumnChart_div = document.getElementById('IdMothToDate');
                    var ColumnChartchart = new google.visualization.LineChart(ColumnChart_div);
                    google.visualization.events.addListener(ColumnChartchart, 'ready', function () {
                        $("#IdGraficoMothToDate").val(ColumnChartchart.getImageURI());
                    });
                    ColumnChartchart.draw(data, options);
                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });
            /*=============== TOTAL GASTOS =====================*/
            $.ajax({
                type: "POST",
                url: "/CorpCopper/GraficoTotalGastos",
                //data: '{}',
                data: JSON.stringify({ fecha: fechaConsulta }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    //debugger;
                    //console.log(r);
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Date');
                    data.addColumn('number', 'Cuentas');
                    data.addColumn({ type: 'string', role: 'annotation' }); // annotation role col.
                    data.addRows(r);
                    var options = {
                        title: "[Total Gastos] - Corp. Copper - " + fechaConsulta + "]",
                        //width: 600,
                        //height: 400,
                        bar: { groupWidth: "100%" },
                        legend: { position: "none" },
                        hAxis: {
                            maxTextLines: 10,
                            textStyle: {
                                fontSize: 14,
                            }
                        }
                    };
                    var ColumnChart_div = document.getElementById('IdTotalGastos');
                    var ColumnChartchart = new google.visualization.ColumnChart(ColumnChart_div);
                    google.visualization.events.addListener(ColumnChartchart, 'ready', function () {
                        $("#IdGraficoTotalGastos").val(ColumnChartchart.getImageURI());
                    });
                    ColumnChartchart.draw(data, options);
                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });
            /*=============== BANCOS =====================*/
            $.ajax({
                type: "POST",
                url: "/CorpCopper/GraficoBancos",
                //data: '{}',
                data: JSON.stringify({ fecha: fechaConsulta }),//, idcompania: compania
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    //debugger;
                    //console.log(r);
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Date');
                    data.addColumn('number', 'Cuentas');
                    data.addColumn({ type: 'number', role: 'annotation' }); // annotation role col.
                    data.addRows(r);

                    //var options = {
                    //    'title': "[10 - Bancos] ",
                    //    width: '100%',
                    //    height: '340',
                    //    pieHole: 0.4,
                    //    legend: { position: "labeled}" },
                    //    chartArea: {
                    //        left: 5,
                    //        top: 20,
                    //        width: '100%',
                    //        height: '300',
                    //    }
                    //};
                    var options = {
                        title: "[10 - Bancos] - Corp. Copper - " + fechaConsulta + "]",
                        width: '100%',
                        height: '400',
                        // pieHole: 0.2,
                        //colors: ['#008000', '#ffbf00', '#FF0000', '#4E6282'],
                        pieSliceText: 'value',
                        // pieSliceText: 'value-and-percentage',
                        //pieSliceText: 'percentage',
                        sliceVisibilityThreshold: .0,
                        fontSize: 15,
                        legend: {
                            position: 'labeled'
                        },
                    };
                    var ColumnChart_div = document.getElementById('IdBancos');
                    //var ColumnChartchart = new google.visualization.PieChart(ColumnChart_div);
                    var ColumnChartchart = new google.visualization.ColumnChart(ColumnChart_div);
                    google.visualization.events.addListener(ColumnChartchart, 'ready', function () {
                        $("#IdGraficoBanco").val(ColumnChartchart.getImageURI());
                    });
                    ColumnChartchart.draw(data, options);
                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });
        }
    </script>

}

