
@{
    ViewBag.Title = "Index";
    //https://www.c-sharpcorner.com/article/asp-net-mvc5-clickable-google-charts/
}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            Grafico Circular - Copper
            <div class="panel-controls">
                <a href="javascript:void(0);" data-panel-loading="true" data-loading-effect="rotateplane" data-loading-color="#16a085" data-toggle="tooltip" data-title="Refresh" data-placement="bottom"><i class="fa fa-refresh"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <div id="piechart" @*style="width: 100%; height: 300px;" *@></div>
        </div>

    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            Graficos de Columnas - Productos
            <div class="panel-controls">
                <a href="javascript:void(0);" data-panel-loading="true" data-loading-effect="rotateplane" data-loading-color="#16a085" data-toggle="tooltip" data-title="Refresh" data-placement="bottom"><i class="fa fa-refresh"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <div id="ColumnChart"></div>

        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            Grafico Circular - Copper
            <div class="panel-controls">
                <a href="javascript:void(0);" data-panel-loading="true" data-loading-effect="rotateplane" data-loading-color="#16a085" data-toggle="tooltip" data-title="Refresh" data-placement="bottom"><i class="fa fa-refresh"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <textarea id="IdGraficoCircular" class="form-control"></textarea>
            <textarea id="IdGraficoColumna" class="form-control"></textarea>
        </div>

    </div>
</div>
@section scripts{
    <script>

        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        //google.setOnLoadCallback(drawChart1);
        function drawChart() {
            $.ajax({
                type: "POST",
                url: "/Copper/GraficoAcumuladoAnual",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    debugger;
                    console.log(r);
                    var objgrafico = $.parseJSON(r);
                    console.log(objgrafico[0].Año);
                    var data = new google.visualization.DataTable();

                    data.addColumn('string', 'Año');
                    //data.addColumn('number', 'Mes');
                    data.addColumn('number', 'Dolar');

                    ///Loop through each list data
                    for (var i = 0; i < objgrafico.length; i++) {
                        data.addRow([r[i].Mes, r[i].Dolar]);//, r[i].Dolar
                    }

                    //var view = new google.visualization.DataView(data);
                    //view.setColumns([0, 1,
                    //    {
                    //        calc: "stringify",
                    //        sourceColumn: 1,
                    //        type: "string",
                    //        role: "annotation"
                    //    }
                    //]);
                    var options = {
                        'title': 'Cuadro de Estadistica - Cuentas Bancos'
                        , width: '100%',
                        height: '340',
                        chartArea: {
                            left: 5,
                            top: 20,
                            width: '100%',
                            height: '300',
                        }
                    };

                    // Instantiate and draw our chart, passing in some options.
                    var ColumnChart_div = document.getElementById('ColumnChart');
                    var ColumnChartchart = new google.visualization.ColumnChart(ColumnChart_div);

                    ColumnChartchart.draw(data  , options);

                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });


        }
        function drawChart1() {
            $.ajax({
                type: "POST",
                url: "/Copper/GraficoPiechartBancos",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    debugger;
                    console.log(r);
                    var chartdata = new google.visualization.DataTable();
                    chartdata.addColumn('string', 'Date');
                    chartdata.addColumn('number', 'Ventas    ');
                    chartdata.addRows(r);
                    //var chart = new google.visualization.PieChart($("#chart")[0]);
                    //chart.draw(data, options);
                    var options = {
                        'title': 'Cuadro de Estadistica - Cuentas Bancos'
                        , width: '100%',
                        height: '340',
                        chartArea: {
                            left: 5,
                            top: 20,
                            width: '100%',
                            height: '300',
                        }
                    };

                    var piechart_div = document.getElementById('piechart');
                    var piechartchart = new google.visualization.PieChart(piechart_div);
                    google.visualization.events.addListener(piechartchart, 'ready', function () {
                        //piechart_div.innerHTML = '<img src="' + piechartchart.getImageURI() + '">';
                        $("#IdGraficoCircular").val(piechartchart.getImageURI());
                    });
                    piechartchart.draw(chartdata, options);

                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });
            //  Column Chart
            //$.ajax({
            //    type: "POST",
            //    url: "/Copper/GraficoPiechartBancos",
            //    data: '{}',
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "json",
            //    success: function (r) {
            //        debugger;
            //        console.log(r);
            //        console.log(r.length);
            //        var chartdata = new google.visualization.DataTable();
            //        //chartdata.addColumn('string', 'Date');
            //        //chartdata.addColumn('number', 'Ventas    ');
            //        //chartdata.addRows(r);
            //        // Setting.
            //        chartdata.addColumn('string', 'Nombre Cuenta');
            //        chartdata.addColumn('number', 'Cuenta', { role: 'annotation' });
            //        // Processing.
            //        for (var i = 0; i < r.length; i++) {
            //            // Setting.
            //            chartdata.addRow([r[i].Cuenta, r[i].Total]);
            //        }

            //        // Setting label.
            //        //var view = new google.visualization.DataView(chartdata);
            //        //view.setColumns([0, 1,
            //        //    {
            //        //        calc: "stringify",
            //        //        sourceColumn: 1,
            //        //        type: "string",
            //        //        role: "annotation"
            //        //    }
            //        //]);
            //        var options = {
            //            'title': 'Cuadro de Estadistica - Cuentas Bancos'
            //            , width: '100%',
            //            height: '340',
            //            chartArea: {
            //                left: 5,
            //                top: 20,
            //                width: '100%',
            //                height: '300',
            //            }
            //        };

            //        // Instantiate and draw our chart, passing in some options.
            //        var ColumnChart_div = document.getElementById('ColumnChart');
            //        var ColumnChartchart = new google.visualization.BarChart(ColumnChart_div);

            //        ColumnChartchart.draw(chartdata, options);

            //    },
            //    failure: function (r) {
            //        alert(r.d);
            //    },
            //    error: function (r) {
            //        alert(r.d);
            //    }
            //});
            $.ajax({
                type: "POST",
                url: "/Copper/GraficoColumnchartBancos",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    debugger;
                    console.log(r);
                    var chartdata = new google.visualization.DataTable();
                    chartdata.addColumn('string', 'Date');
                    chartdata.addColumn('number', 'Cuentas');
                    chartdata.addRows(r);//, { rol: 'anotación' }
                    //var chart = new google.visualization.PieChart($("#chart")[0]);
                    //chart.draw(data, options);
                    //var view = new google.visualization.DataView(r);
                    //view.setColumns([0, 1,
                    //    {
                    //        calc: "stringify",
                    //        sourceColumn: 1,
                    //        type: "string",
                    //        role: "annotation"
                    //    },
                    //    2]);

                    var options = {
                        'title': 'Cuadro de Estadistica - Cuenta Bancos'//,
                        //'width': 900,
                        //'height': 500
                        //, is3D: true,
                        // ,'width': 350,
                        //'height': 400,
                        //'chartArea': { 'width': '100%', 'height': '80%' },
                        //'legend': { 'position': 'bottom' }
                        //,chartArea: { left: 5, top: 20, width: "100%", height: "80%" }
                        //, 'legend': { 'position': 'top', 'textStyle': { 'fontSize': '14' } }
                        , width: '100%',
                        height: '340'
                    };

                    var ColumnChart_div = document.getElementById('ColumnChart');
                    var ColumnChartchart = new google.visualization.ColumnChart(ColumnChart_div);
                    google.visualization.events.addListener(ColumnChartchart, 'ready', function () {
                        //ColumnChart_div.innerHTML = '<img src="' + ColumnChartchart.getImageURI() + '">';
                        $("#IdGraficoColumna").val(ColumnChartchart.getImageURI());
                    });
                    ColumnChartchart.draw(chartdata, options);

                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });
            return false;
        }

    </script>
}