@{
    ViewBag.Title = "Home Page";
}
<div class="row clearfix">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="error-box">
            <h3>Bienvenido a Sistema de Consultas - SUNAT</h3>
            
            
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>