
@{//model WebAplicacion.Models.ViewModels.SunatViewModel
    ViewBag.Title = "Index";
}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            Consulta Comprobante - SUNAT
            <div class="panel-controls">
                <a href="javascript:void(0);" data-panel-loading="true" data-loading-effect="timer" data-loading-color="#16a085" data-toggle="tooltip" data-title="Refresh" data-placement="bottom"><i class="fa fa-refresh"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group col-sm-4">
                <label>Numero Ruc:</label>
                <input type="text" id="txtNumeroRuc" class="form-control" placeholder="" maxlength="11" required pattern="[0-9]"/>
            </div>
            <div class="form-group col-sm-4">
                <label>Codigo Comprobante:</label>
                <input type="text" id="txtCodigoComprobante" class="form-control" placeholder="" maxlength="2" />
            </div>
            <div class="form-group col-sm-4">
                <label>Numero Serie:</label>
                <input type="text" id="txtNumeroSerie" class="form-control" placeholder="" style="text-transform:uppercase;" maxlength="4" />
            </div>
            <div class="form-group col-sm-4">
                <label>Numero:</label>
                <input type="text" id="txtNumero" class="form-control" placeholder="" />
            </div>
            <div class="form-group col-sm-4">
                <label>Fecha Emision:</label>
                <input type="date" id="txtFechaEmision" class="form-control" placeholder="" />
            </div>
            <div class="form-group col-sm-4">
                <label>Monto:</label>
                <input type="text" id="txtMonto" class="form-control" placeholder="" />
            </div>
            <div class="form-group col-sm-12 text-center">
                <a id="btnConsultaSunat" class="m-w-150 btn btn-rounded btn-primary" data-panel-loading="false" data-loading-effect="timer" data-loading-color="#16a085" data-toggle="tooltip" data-placement="bottom">Consultar</a>

                <a id="btnConsultaLimpiar" class="m-w-150 btn btn-rounded btn-danger">Limpiar</a>
            </div>
            <div>
                @*class="align-justify"*@

                <p class="col-danger">
                    <strong>Nota:</strong> Si el Comprobante es fisico el campo Monto no es necesario.
                </p>
               
            </div>

        </div>
    </div>
</div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-success"  id="panelResultado">
        <div class="panel-heading">
            Resultado de la Consulta
            <div class="panel-controls">
                <a href="javascript:void(0);" data-panel-loading="true" data-loading-effect="timer" data-loading-color="#16a085" data-toggle="tooltip" data-title="Refresh" data-placement="bottom"><i class="fa fa-refresh"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <table id="tblSunat" class="table table-striped table-hover js-exportable dataTable">
                <thead>
                    <tr>
                        @*<th>Estado</th>
                    <th>Mensaje</th>*@
                        <th>Estado Comprobante</th>
                        <th>Estado RUC</th>
                        <th>Domicilio RUC</th>
                        <th>Observacion</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        @*<th>Estado</th>
                    <th>Mensaje</th>*@
                        <th>Estado Comprobante</th>
                        <th>Estado RUC</th>
                        <th>Domicilio RUC</th>
                        <th>Observacion</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#panelResultado").hide();

            $('#tblSunat').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });

        });
       
        //======================================================================================
        $(function () {
            $('#btnConsultaSunat').click(function () {


                var txtNumeroRuc = $("#txtNumeroRuc").val(); // FName as per name of Employee Class
                txtNumeroRuc = $.trim(txtNumeroRuc);                
                var txtCodigoComprobante = $("#txtCodigoComprobante").val();
                txtCodigoComprobante = $.trim(txtCodigoComprobante);
                var txtNumeroSerie = $("#txtNumeroSerie").val();
                txtNumeroSerie = $.trim(txtNumeroSerie);
                var txtNumero = $("#txtNumero").val();
                txtNumero = $.trim(txtNumero);
                var txtFechaEmision = $("#txtFechaEmision").val();
                txtFechaEmision = $.trim(txtFechaEmision);
                var txtMonto = $("#txtMonto").val();
                txtMonto = $.trim(txtMonto);
               
               
                var esrucok = rucValido(txtNumeroRuc);
                if (esrucok==false) {
                    MensajeConfirmacion("Error!", "Debe ingresar RUC valido.", "error");
                    $("#txtNumeroRuc").focus();
                    return false;
                }
                if (txtNumeroRuc == "") {
                    MensajeConfirmacion("Error!", "Debe ingresar el Numero de RUC", "error");
                    $("#txtNumeroRuc").focus();
                    return false;
                }
                if (txtNumeroRuc.length != 11) {
                    MensajeConfirmacion("Error!", "El RUC debe tener 11 digitos.", "error");
                    $("#txtNumeroRuc").focus();
                    return false;
                }

                if (txtCodigoComprobante == "") {
                    MensajeConfirmacion("Error!", "Debe ingresar el Codigo de Comprobante.", "error");
                    $("#txtCodigoComprobante").focus();
                    return false;
                }
                if (txtNumeroSerie == "") {
                    MensajeConfirmacion("Error!", "Debe ingresar el Numero de Serie.", "error");
                    $("#txtNumeroSerie").focus();
                    return false;
                }
                if (txtNumero == "") {
                    MensajeConfirmacion("Error!", "Debe ingresar el Numero.", "error");
                    $("#txtNumero").focus();
                    return false;
                }
                if (txtFechaEmision == "") {
                    MensajeConfirmacion("Error!", "Debe ingresar la Fecha de Emision.", "error");
                    $("#txtFechaEmision").focus();
                    return false;
                }
                if (txtFechaEmision.length >10) {
                    MensajeConfirmacion("Error!", "Debe ingresar una Fecha Valida.", "error");
                    $("#txtFechaEmision").focus();
                    return false;
                }
                //if ($("#txtMonto").val()== "") {
                //    MensajeConfirmacion("Error!", "Debe ingresar el Monto.", "error");
                //    return false;
                //}


                var sunat = {};
                sunat.NumeroRuc = txtNumeroRuc; // FName as per name of Employee Class
                sunat.CodigoComp = txtCodigoComprobante;
                sunat.NumeroSerie = txtNumeroSerie;
                sunat.Numero = txtNumero;
                sunat.FechaEmision = txtFechaEmision;
                sunat.Monto = txtMonto;
                $("#panelResultado").hide();

                $.ajax({
                    type: "POST",
                    url: "/Sunat/ConsultaSunat",
                    data: '{objSunat: ' + JSON.stringify(sunat) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    //data: { grant_type: 'client_credentials', scope: 'https://api.sunat.gob.pe/v1/contribuyente/contribuyentes', client_id: 'ed950066-8132-4be7-84ae-80ece888c0a7', client_secret:'UmzfDQM145lNju91kR293w==' },
                    //contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        //debugger;
                        //console.log(data.d);
                        var objSuna = JSON.stringify(data)
                       
                        var success, estadoCp, estadoRuc, condDomiRuc;
                        var observaciones = "";
                                               

                        if (data.success == true) {
                            success = "Exito";
                            observaciones = data.data.observaciones;

                            switch (data.data.estadoCp) {
                                case "0":
                                    estadoCp = "<label class='label label-danger'>No Existe</label>"; 
                                    MensajeConfirmacion("Error!", "Comprobante no informado.", "error");
                                    break;
                                case "1":
                                    estadoCp = "<label class='label label-success'>Aceptado</label>";
                                    MensajeConfirmacion("Exito!", "Comprobante aceptado.", "info");
                                    break;
                                case "2":
                                    estadoCp = "<label class='label label-info'>Anulado</label>";
                                    MensajeConfirmacion("Informacion!", "Comunicado en una baja.", "info");
                                    break;
                                case "3":
                                    estadoCp = "<label class='label label-info'>Autorizado</label>";
                                    MensajeConfirmacion("Informacion!", "Con autorizacion de imprenta.", "info");
                                    break;
                                case "4":
                                    estadoCp = "<label class='label label-info'>No Autorizado</label>";
                                    MensajeConfirmacion("Informacion!", "No autorizado por imprenta.", "info");
                                    break;

                                default:
                                    estadoCp = "";
                                    MensajeConfirmacion("Error!", "Ocurrio un error,intente mas tarde.", "error");
                                    break;
                            }

                            switch (data.data.estadoRuc) {
                                case "00":
                                    estadoRuc = "<label class='label label-success'>Activo</label>";
                                    break;
                                case "01":
                                    estadoRuc = "<label class='label label-danger'>Baja Provisional</label>";
                                    break;
                                case "02":
                                    estadoRuc = "<label class='label label-danger'>Baja Prov. Por Oficio</label>";
                                    break;
                                case "03":
                                    estadoRuc = "<label class='label label-danger'>Suspencion Temporal</label>";
                                    break;
                                case "10":
                                    estadoRuc = "<label class='label label-danger'>Baja Definitiva</label>";
                                    break;
                                case "11":
                                    estadoRuc = "<label class='label label-danger'>Baja de Oficio</label>";
                                    break;
                                case "22":
                                    estadoRuc = "<label class='label label-danger'>Inhabilitado-Venta Unica</label>";
                                    break;

                                default:
                                    estadoRuc = "";
                                    break;
                            }

                            switch (data.data.condDomiRuc) {
                                case "00":
                                    condDomiRuc = "<label class='label label-success'>Habido</label>";
                                    break;
                                case "09":
                                    condDomiRuc = "<label class='label label-info'>Pendiente</label>";
                                    break;
                                case "11":
                                    condDomiRuc = "<label class='label label-info'>Por Verificar</label>";
                                    break;
                                case "12":
                                    condDomiRuc = "<label class='label label-danger'>No Habido</label>";
                                    break;
                                case "20":
                                    condDomiRuc = "<label class='label label-danger'>No Hallado</label>";
                                    break;
                                default:
                                    condDomiRuc = "";
                                    break;
                            }

                            if (observaciones == undefined) {
                                observaciones = "";
                            } else {
                                observaciones = observaciones;
                            }
                            //console.log("Estado " + data.success);
                            //console.log("Mensaje " + data.message);
                            //console.log("EstadoCP " + data.data.estadoCp);
                            //console.log("EstadoRuc " + data.data.estadoRuc);
                            //console.log("Domicilio " + data.data.condDomiRuc);
                            //console.log("Observacion " + data.data.observaciones);

                            $('#tblSunat tbody').remove();
                            $("#tblSunat").append(
                                "<tr>" +
                                //< td > " + success + "</td > <td>" + data.message + "</td>" +
                                "<td>" + estadoCp + "</td>" +
                                "<td>" + estadoRuc + "</td>" +
                                "<td>" + condDomiRuc + "</td>" +
                                "<td>" + observaciones + "</td>" +
                                "</tr>");
                            $("#panelResultado").show("slow");

                        } else {
                            success = "Error";
                            MensajeConfirmacion("Error!", data.message, "error");
                        }


                    },
                    error: function (error) {
                      
                        console.log(error.responseText)
                        MensajeConfirmacion("Error!", error.responseText, "error");
                    }
                });
                return false;
            });
        });

        //======================================================================================
        $(function () {
            $('#btnConsultaLimpiar').click(function () {

                $("#txtNumeroRuc").val("");
                $("#txtCodigoComprobante").val("");
                $("#txtNumeroSerie").val("");
                $("#txtNumero").val("");
                $("#txtFechaEmision").val("");
                $("#txtMonto").val("");
                $("#panelResultado").hide("slow");
                return false;
            });
        });

        //======================================================================================
        function rucValido(ruc) {
            //11 dígitos y empieza en 10,15,16,17 o 20
            if (!(ruc >= 1e10 && ruc < 11e9
                || ruc >= 15e9 && ruc < 18e9
                || ruc >= 2e10 && ruc < 21e9))
                return false;

            for (var suma = -(ruc % 10 < 2), i = 0; i < 11; i++, ruc = ruc / 10 | 0)
                suma += (ruc % 10) * (i % 7 + (i / 7 | 0) + 1);
            return suma % 11 === 0;

        }
        
    </script>


}

